@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.preload * {
  transition: none !important;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(217, 54%, 11%);
  padding: 3rem;
}

.card {
  width: 20rem;
  background: linear-gradient(
    140deg,
    hsl(215, 48%, 19%, 0.3),
    hsla(215, 50%, 20%, 0.3)
  );
  padding: 1.5rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 15px 40px 15px rgba(12, 21, 34, 1);
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  cursor: pointer;
}

h1:hover {
  color: rgb(255, 255, 255);
  animation: animateColors 3s infinite;
}

@keyframes animateColors {
  0% {
    color: rgb(255, 255, 255);
  }
  33% {
    color: rgb(153, 197, 255);
  }

  66% {
    color: rgb(173, 129, 255);
  }

  80% {
    color: rgb(92, 181, 255);
  }
}

p,
span {
  color: hsl(0, 0%, 60%);
}

hr {
  border: 1px solid hsla(0, 0%, 100%, 0.1);
}

.img-wrapper {
  position: relative;
  cursor: pointer;
}

.equilibrium-img {
  width: 17rem;
  border-radius: 0.5rem;
}

.hover {
  width: 17rem;
  height: 17rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(178, 100%, 50%, 0.4);
  opacity: 0;
  background-image: url("./images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.8s ease;
}

.img-wrapper:hover .hover {
  opacity: 1;
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.eth-time {
  display: flex;
  justify-content: space-between;
}

.eth,
.time {
  display: flex;
  align-items: center;
}

.eth > img,
.time > img {
  margin-right: 0.4rem;
}

.eth > span {
  color: hsl(178, 100%, 50%);
}

.creator {
  display: flex;
  align-items: center;
}

.jules-img {
  width: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 1rem;
}

.name {
  color: white;
  cursor: pointer;
}

.name:hover {
  color: hsla(178, 100%, 50%, 1);
  transition: all 300ms ease;
}
